.buscar-unidades-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 4900% auto 0 !important;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .error-message {
    color: red;
  }
  