.lista-personas-container {
  width: 80%;
  margin: 3920% auto 0; /* Ajusta el margen superior para desplazar el contenido hacia abajo */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}