.sacar-inquilino-container table {
  width: 100%; /* O ajusta el ancho según sea necesario */
  margin-top: 20px; /* Espacio superior entre el formulario y la tabla */
  text-align: center; /* Para centrar el contenido de la tabla */
}

/* Opcional: Estilos para las celdas de la tabla */
.sacar-inquilino-container table td,
.sacar-inquilino-container table th {
  padding: 8px;
  /* Otros estilos según sea necesario */
}
